.volverIndex {
    background-image: url("../Imagenes/405.jpg");
    background-size: cover;
    height: 39rem;
    position: relative;

    .btn {
        position: absolute;
        width: 10rem;
        color: $honeyYellow;
        margin-top: 6rem;
        margin-left: 15rem;

        a {
            text-decoration: none;
            color: $honeyYellow;
        }
    }
   
}

