.titulo2 {
  @extend %fontTitulo2;

  @media #{$laptop} {        
    font-size: 30px;
    padding-top: 5px;      
    margin: 6rem 0 3rem 0;    
  }   
  
  @media #{$mobile} {      
    font-size: 25px;
          
  }
}

.cajasRecetas {
  margin-bottom: 8rem; 

  .recetas{
   text-align: center;
    
    a {
      font-size: 25px;
      color: $ebony;
      text-decoration: none;
    }
  }
  

  .recetaImagen {
    width: 27vw;
    border-radius: 5%;
    margin-bottom: 4rem;

    @media #{$mobile} {                 
      width: 12rem; 
      margin: 2rem 5rem 2rem 5rem;
    } 
  }

  .titulo3 {
    @extend %fontTitulo3;
  }

  @include flex(flex, row, space-evenly, nowrap);
}
