.titulo1 {

    @extend %fontTitulo1;

    @media #{$tablet} {    
        font-size: 3rem;
        margin-top: 20vh;
        margin-bottom: 10vh;    
    }

    @media #{$mobile} {     
        font-size: 3rem;
        margin: 3rem 0 3rem 0;            
    }
}

.cajasRecetas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
    
    .recetas2 {
        position: relative;
        width: 100%;
        max-width: 500px;
        height: 0;
        margin-bottom: 0;
        padding-bottom: 30%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .videosRecetas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90%;

            @media #{$laptop} {               
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;                
            }

            @media #{$tablet} {                
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;                
            }

            @media #{$mobile} {                  
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;   
            }   
        }

        @media #{$laptop} {            
            position: relative;
            width: 100%;
            max-width: 500px;
            height: 0;
            margin: auto;
            margin-bottom: 7%;
            padding-bottom: 40%;            
        }

        @media #{$tablet} {           
            position: relative;
            width: 100%;
            max-width: 500px;
            height: 0;
            margin: auto;
            margin-bottom: 5rem;              
        }

        @media #{$mobile} {            
            position: relative;
            width: 100%;
            max-width: 300px;
            height: 0;
            margin: auto;
            margin-bottom: 20%;
            padding-bottom: 60%;            
        }       
    }

    @media #{$mobile} {            
        margin-bottom: 0;        
    } 
}
 
.titulo2 {    

    @extend %fontTitulo2;

    @media #{$laptop} {        
        font-size: 30px;    
        margin: 2rem 0 3rem 0;    
    }   
      
      @media #{$mobile} {      
        font-size: 25px;
        margin: 2rem 0 1rem 0;    
    }
}
    
.titulo3 {

    @extend %fontTitulo3;

    @media #{$laptop} {       
        font-size: 25px;
        font-weight: bold;
        text-align: center;           
    }
    
    @media #{$tablet} {       
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 15px;        
    } 

    @media #{$mobile} {         
        font-size: 18px;
        margin: 20px;
        text-align: center;
        margin-bottom: 20px;        
    }
}
.texto {

    .otrasRecetas {
        margin: 3rem 2rem 10rem 2rem;
        background-color: $ebony;

        @include flex(flex, row, space-evenly, nowrap);

        .imgReceta img {
            height: 43rem;

            @media #{$laptop} {        
                display: none;       
            } 
        }

        .textoRecetas {
            font-size: 17px;
            font-weight:400;
            margin: 2rem;
            padding: 10px;
            color: $floralWhite;
        
            .textoLinea { 
                padding: 0;
                margin: 0;  
            }  
            
            @media #{$mobile} {      
                font-size: 15px;
                padding-top: 0;
                margin: 0;        
            }
        }

        @media #{$laptop} {        
            display: flex;
            flex-direction: column;        
        }   
    
        @media #{$mobile} {         
            font-size: 18px;
            margin: 0rem 0 6rem 0;                
        }
    }

    @media #{$mobile} {         
        margin: 0rem 0 6rem 0;  
        padding-top: 0;              
    }
    
}
